* {
  margin: 0;
  padding: 0;
}
body{
  background: url(/images/7WW/vsio.jpg);
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  display: inline-block;
  /* background: white; */
  text-align: right;
  font-size: 5rem;
  margin-top: 18%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 55px;
  padding-right: 55px;
}
header {

  height: 750px;
  text-align: center;
}
a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  transition: 0.3s linear;
}
 a:hover{
  background: rgba(0,0, 0, 0.3);
}
li {
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/* h3 {
  background: white;
} */
.li1 {
  background: url(/images/7WW/chichen_itza.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.li2 {
  background: url(/images/7WW/christ_the_redeemer.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.li3 {
  background: url(/images/7WW/colosseum.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.li4 {
  background: url(/images/7WW/great_wall_china.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.li5 {
  background: url(/images/7WW/machu_picchu.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.li6 {
  background: url(/images/7WW/petra_jordan.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.li7 {
  background: url(/images/7WW/taj_mahal.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
div{
  text-align: center;
  font-size: 5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: white;
}
span{
  display: block;
  background: white;
}